/*** GENERIC CSS ***/
html, body {
    height: 100%;
}

body {
    font-size: 14px;
    font-family: "Inter", sans-serif;
    color: #555555;
    background:#000 url(/static/images/bg.jpg) 50% 50% fixed no-repeat;
    background-size:cover;
}

a {
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    text-decoration: none;
    color: #555555;
}

a:hover {
    text-decoration: none;
    color: #24a9e2;
}

a:focus {
    text-decoration: none;
}

button {
	outline: 0 !important;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
}

button:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
   
}

h1 {
    font-size:54px;
    line-height: 1.5;
}

h2 {
    font-size: 48px;
    line-height: 1.4;
}

h3 {
    font-size:35px;
    line-height: 1.5;
}

h4 {
    font-size:27px;
    line-height: 1.5;
}

h5 {
    font-size:20px;
    line-height: 1.5;
    color:#fff;
}

h5 img {
    filter:brightness(1) invert(1);
}

.d-table {
    width: 100%;
    height: 100%;
}

.d-table-cell {
    vertical-align: middle;
}

p {
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 1.8;
}

p:last-child {
    margin-bottom: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.visible-xs {
    display: none;
}

.btn-default {
    padding:10px 35px;
    color:#fff;
    border-radius: 0px;
    min-width: 200px;
}

.btn-default:hover {
    color: #fff;
    background:#134db8;
}

.underlined {
    position: relative;
    display: inline-block;
}

.underlined::after {
    content:'';
    width:100px;
    background:#134db8;
    height: 4px;
    position:absolute;
    top:100%;
    left: 0%;
}

ul.list li {
    margin:0px 0px 15px 0px;
}

/*** PRELOADER ***/
.preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 99999;
}

.preloader .lds-ripple {
    position: relative;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.preloader .lds-ripple div {
    position: absolute;
    border: 2px solid #134db8;
    opacity: 1;
    border-radius: 0;
    -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
            animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.preloader .lds-ripple div:nth-child(2) {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s;
}

@-webkit-keyframes lds-ripple {
0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
}
100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
}
}

@keyframes lds-ripple {
0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
}
100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
}
}

.img-rounded {
    border-radius: 15px;
}

.hover-animate {
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.hover-animate:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

/*** HEADER ***/
.top-head  {
    padding:10px 0px;
    border-bottom:1px solid #262626;
}

.top-head p span {
    font-size:15px;
    color:#ffebf9;
    background: -webkit-linear-gradient(#ffebf9, #8a56cc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-head a.btn-info {
    background:none;
    border-radius:23px;
    position: relative;
    padding: 8px 15px !important;
    margin-left:5px;
}

.top-head a.btn-info img {
    filter:brightness(1) invert(1);
}

.top-head a.btn-info::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px; 
    padding:1.5px; 
    background:linear-gradient(45deg,red,blue); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
  }
  
.header {
	background:#000;
}

.header .dropdown-menu {
    background: #18181b;
    border-radius:8px;
    padding:8px;
}

.header .dropdown-menu a {
    color:#fff !important;
    border-radius:10px;
    font-size:14px;
    padding:4px 10px;
}

.header .dropdown-menu a .fa {
    float:right;
    margin-top:4px;
}

.header .dropdown-menu a:hover {
    background:#a1a1aa33 !important;
}

.header form {
    background:#a1a1aa33;
    border-radius:10px;
    padding:4px 10px;
    float:right;
    width:90%;
    position:relative;
}

.header form:after {
    content: '\f002';
    position: absolute;
    left:10px;
    top:6px;
    font-size: 17px;
    font-family: 'FontAwesome';
}

.header form input {
    width:70%;
    float:left;
    background:none !important;
    border:none;
    height:28px;
    outline:0 !important;
    padding-left:25px;
}

.header form input::-webkit-input-placeholder {
    color:#a2a2ab;
}

.header .nav-link .fa {
    color:#a2a2ab;
    font-size:18px;
}

.header form button {
    width:26%;
    background:#a1a1aa33;
    border-radius:10px;
    color:#a2a2ab;
    height:28px;
    float:right;
}

.header .btn.btn-primary {
    border: none;
    width: 100px;
    margin-left: 10px;
    background-color: hsl(240 5% 65% / .2);
    transition-property: transform, color, background-color, border-color, text-decoration-color, fill, stroke, opacity;
    transition-timing-function: ease;
    transition-duration: .25s;
    outline: 2px solid transparent;
    outline-offset: 2px;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: hsl(240 5% 84%/var(--nextui-default-600-opacity,var(--tw-text-opacity)));
    padding: 10px 10px;
    border-radius: 12px;
}

.header .btn.btn-primary .fa {
    color:#f31260;
}

.navbar-nav .nav-link {
    font-size:14px;
    color:#fff !important;
    padding: 10px 7px !important;
}

.navbar-nav .nav-item:hover .nav-link,.navbar-nav .nav-item.active .nav-link {
    color: #0070f0 !important;
}

.navbar-nav .dropdown .dropdown-toggle {
    background:rgba(255,255,255,0.2);
    border-radius:20px;
    padding: 5px 10px !important;
    margin-top:5px;
}

.navbar {
	padding:10px 0px;
}

.drop-nav {

}

.drop-nav a.link-list {
    font-size:16px;
    color:#fff;
    padding:5px 0px;
    display:inline-block;
    width:100%;
}

.drop-nav a.link-list .fa {
    rotate:-90deg;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.drop-nav a.link-list.collapsed .fa {
    rotate:0deg;
}

.drop-nav .card-body {
    background:none;
    border:none;
    padding:15px 10px;
}

.drop-nav .card-body ul {
    padding-left:30px;
}

.drop-nav .card-body ul li {
    padding:5px 0px;
}

.drop-nav .card-body ul li span {
    background: rgba(21, 100, 47, 0.2);
    color: #0070f0;
    font-size: 12px;
    border-radius: 15px;
    padding: 2px 7px;
}

.drop-nav .card-body ul li span.updated {
    color:#71717a !important;
    background:#27272a80;
}

.drop-nav .card-body ul li a {
    color:#ecedee;
    opacity: .6;
    font-size: 16px;
}

.drop-nav .card-body ul li:hover a {
    color:#ecedee;
    opacity: .8;
}

.scrolled {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
    padding-bottom: 0px;
}

.left-div {
    position: sticky;
    top: 16%;
    height: 100vh;
    overflow-y: scroll;
    border-radius: 5px 0px 0px 5px;
}

.left-div::-webkit-scrollbar-track {
	border-radius: 0px;
	background-color: transparent;
}

.left-div::-webkit-scrollbar {
	width: 7px;
	
}

.left-div::-webkit-scrollbar-thumb {
	border-radius: 10px;
    background-color: rgb(113 113 122 / 50%);
    opacity:0.5;
}

.right-div {
    position: sticky;
    top: 16%;
    height: 500px;
}

/* Content Style */
.content {
	padding-top:40px;
}

.scroll-content h2 {
    color:#fff;
    font-size:36px;
    font-weight:bold;
}

.scroll-content h4 {
    color:#fff;
    font-size:22px;
    margin:10px 0px;
}

.scroll-content p {
    font-size:16px;
    color:#a1a1aa;
}

.scroll-content .btn-default {
    min-width:100% !important;
    border-radius:25px;
    background:rgba(0,111,238,0.1);
    text-align:left;
    font-size:20px;
    min-width: 100% !important;
    border-radius: 12px;
    background: rgba(0, 111, 238, 0.1);
    text-align: left;
    padding:15px 20px;
    width: 100%;
}

.scroll-content .btn-default img {
    filter:brightness(1) invert(1);
}

.scroll-content .btn-default .fa-twitter {
    color:#00acee;
    font-size:24px;
    margin-right:10px;
}
.scroll-content .btn-default .fa-github-alt {
    color:#7289da;
    font-size:24px;
    margin-right:10px;
}

.scroll-content .btn-default .fa-github {
    color:#fff;
    font-size:24px;
    margin-right:10px;
}

.scroll-content .fa.fa-repeat {
    font-weight:normal !important;
    font-size:16px;
}

img.border {
    border:1px solid #3f3f4680 !important;
    border-radius:15px;
    margin:20px 0px !important;
}

.scroll-content p a {
    color:#0070f0;
}

.scroll-content hr {
    border-color:#3f3f46 !important;
    margin: 20px 0px !important;
}

.content h6 {
    font-size:12px;
    color:#a1a1aa;
}

.faq-content  li {
    color: #06b7db;
    font-weight:500;
    font-size:16px;
    margin:12px 0px;
}

#list-example a {
    font-size:14px;
    line-height: 1.25rem;
    padding:5px 15px;
    border:none;
    background:none;
    color:#a1a1aa;
}


#list-example a.active,#list-example a:hover {
    color:#fff;
}

.installation {
    font-size:18px;
    color:#fff;
}

.installation .fa {
    color: #0070f0;
    font-weight:normal;
    margin-left:5px;
}

.end-this {
    color: #0070f0;
    font-weight:normal;
}

.modal button.close {
    position: absolute;
    right: 5px;
    top: -40px;
    opacity:1;
    color:#fff;
}

.modal-content {
    background-color: hsl(0 0% 0% /.3);
    -webkit-backdrop-filter:blur(12px);
    backdrop-filter: blur(12px);
    border-radius:10px !important;
    --tw-border-opacity: 1;
    border-color: hsl(240 4% 16% / var(--tw-border-opacity));
}

.modal-content form {
    border-bottom:1px solid #a1a1aa;
    --tw-border-opacity: 1;
    border-color: hsl(240 4% 16% / var(--tw-border-opacity));
    padding:10px;
}

.form-control:focus {
    color: #495057;
    background-color: transparent;
    border-color: #80bdff;
    outline: 0;
    box-shadow: none;
}

.modal-content form:after {
    content: '\f002';
    position: absolute;
    left: 10px;
    top: 18px;
    font-size: 22px;
    font-family: 'FontAwesome';
}

.modal-content input {
    background:none;
    height:50px;
    color:#a1a1aa;
    border:none !important;
    width:100%;
    font-size:18px;
    padding-left:30px;
}

.modal-content .modal-body {
    padding:0px;
}

.modal-content p {
    font-size:18px;
}

.modal-open .modal {
    background:rgba(0,0,0,0.7);
}

.modal form button {
    color: #d4d4d8;
    background: #27272a;
    font-size: 11px;
    border-radius: 5px;
    padding: 5px 10px;
}

.modal-content input::-webkit-input-placeholder {
    color:#a1a1aa !important;
    font-size:20px;
    font-weight:300;
}

.modal.show .modal-dialog {
    padding:0px 90px;
}

.ask {
    position:fixed;
    bottom:10px;
    right:10px;
    background:#000000;
    color:#fff;
    text-align:center;
    width:75px;
    height:75px;
    border-radius:15px;
}

.ask img {
    max-width:45%;
}

.ask h5 {
    font-size:14px;
}

#staticBackdrop h5 img {
    max-width:7%;
    filter: brightness(1) invert(0);
    margin-right:10px;
}

#staticBackdrop .modal-header {
    background:rgba(241, 243, 245, 0.9);
    border-bottom: 1px solid rgb(206, 212, 218);
}

#staticBackdrop h5 {
    color:#000;
    font-size:20px;
}

#staticBackdrop .modal-body {
    background:#fff;
    padding:15px;
}
#staticBackdrop .modal-body p {
    color: rgb(134, 142, 150);
    line-height: 1.55;
    text-decoration: none;
    font-size: 0.75rem;
}

#staticBackdrop .modal-body h6 {
    color: rgb(134, 142, 150);
    font-size: 0.75rem;
    line-height: 1.55;
    text-decoration: none;
    font-weight: 500;
}

#staticBackdrop .modal-body .btn.btn-default {
    font-size: 0.75rem;
    user-select: none;
    cursor: pointer;
    border: 0.0625rem solid rgb(134, 142, 150);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    white-space: normal;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
    font-weight: 400;
    width:100%;
    padding:5px 15px !important;
    border-radius:5px;
    text-align:center;
}

#staticBackdrop form {
    border:1px solid #e5e7eb;
    margin:10px 0px;
    border-radius:10px;
    padding:5px;
}

#staticBackdrop form:after {
    display:none;
}

#staticBackdrop button.close {
    position: absolute;
    top: 16px;
    right: 15px;
}

.modal-xl {
    max-width: 700px !important;
}

#staticBackdrop form input {
    height:30px;
    width:100%;
    outline:0 !important;
    padding-left:15px;
    font-size:16px;
}

#staticBackdrop form input::-webkit-input-placeholder {
    font-size:14px;
}

/* Footer Style */
.footer {
	
}

